{% extends 'base.html' %} 
{% load static %}
{% block content %}
<style>
    .sec-title h2{
        text-align: center;
        margin-top: 10px;
    }
</style>
<head>
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-5">Reset Password</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="{% url 'index.html' %}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'forgot' %}">Reset Password</a></li>
        </ol>
      </div>

<section class="contact-page-section">
    <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title">
            <h2><b>Reset Password</b></h2>
            <div class="text" style="text-align: center;">After email submitted the password is generated and send it to your mail</div>
        </div>

        <div class="inner-container">

            <!-- Contact Form -->
            <div class="contact-form">
                <form method="post" action="forgot-password" id="contact-form">
                    {% csrf_token %}
                    <div class="clearfix">

                        <!-- Form Group -->
                        <div class="form-group col-lg-6 col-md-6 col-sm-12" style="text-align: center; margin-left: 230px; margin-top: 10px;">
                            <label>Email *</label>
                            <input type="email" name="email" placeholder="Email *" required>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="theme-btn btn-style-one" style="margin-left: 470px; margin-top: 10px; background-color: green; color: white;"><span class="txt">Submit</span></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        </div>
        </section>
    </head>
{% endblock %}